/* Dark mode */
:root {
  --color: #d8d8d8;
  --color-footnote: rgb(255,255,255,0.8);
  --color-footer-content: #bbb;
  --background-color: #222;
  --background-color-code: rgb(30, 30, 30);
  --background-color-toggle-content: #121212;
  --link-color: #2bc1d5;
  --link-color-hover: #2bc1d5;
  --list-link-color: #2bc1d5;
  --border-navbar-and-footer: #e3e3e3;
}

.pure-table {
  border: 1px solid rgb(63, 68, 71) !important;
  color: rgb(187, 181, 172);
}

.pure-table td, .pure-table th {
  border-left: 1px solid rgb(63, 68, 71) !important;
}

.pure-table thead {
  color: rgb(232, 230, 227);
  background-color: rgb(50, 50, 50);
}

.pure-table-striped tr:nth-child(2n-1) td {
  background-color: rgb(31, 34, 35);
}
