:root {
  --color: #484848;
  --color-footnote: #575757;
  --color-footer-content: #bbb;
  --background-color: rgb(252, 252, 252);
  --background-color-code: rgb(240, 240, 240);
  --background-color-toggle-content: rgb(249, 249, 249);
  --link-color: #c05b4d;
  --link-color-hover: #a5473a;
  --list-link-color: #369;
  --border-navbar-and-footer: #e3e3e3;
}

html {
  min-height: 100%;
  width: 100%;
  position: relative;
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

a {
  text-decoration: none;
}

code, kbd, pre, samp {
  background-color: var(--background-color-code);
}

.nav-menu {
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border-navbar-and-footer);
}

.pure-menu-heading {
  text-transform: none;
  font-size: large;
}

.header {
  text-align: left;
  color: var(--color);
  margin-bottom: .5em;
}

.header ul li {
  height: auto;
}

.header ul li a {
  font-weight: bold;
  color: var(--color);
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  font-weight: bold;
  color: var(--color);
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.site-title {
  color: var(--color);
  text-transform: none;
  font-weight: normal;
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pull-right {
  float: right;
}

.posts-name {
  text-transform: capitalize;
  font-weight: bold;
  padding-left: 1em;
  margin-top: 1em;
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.posts {
  font-family: verdana, arial, helvetica, sans-serif;
  list-style-type: none;
  padding-left: 1em;
}

.posts li p {
  margin-top: 0;
}

.posts li {
  margin-bottom: 1em;
}

.posts li > a {
  color: var(--list-link-color);
  text-decoration: none;
}

.post-list {
  font-size: large;
}

.footnote {
  font-family: verdana, arial, helvetica, sans-serif;
  color: var(--color-footnote);
  font-size: 0.75em;
  margin-bottom: 0;
}

.footnote a {
  color: var(--color-footnote);
}

.footnote a:hover {
  text-decoration: underline;
  color: var(--list-link-color);
}

.footer {
  position: absolute;
  z-index: 2;
  height: auto;
  width: 100%;
  bottom: 0;
}

.footer-content {
  border-top: 1px solid var(--border-navbar-and-footer);
  font-size: 80%;
  color: var(--color-footer-content);
}

.footer-content a {
  color: var(--color-footnote);
}

.footer-content ul {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  padding-left: 0;
}

/* https://github.com/gohugoio/hugo/issues/1778#issuecomment-451552602 */
#TableOfContents > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#gototop-btn {
  display: inline-block;
}

#foot-name {
  color: var(--color);
  text-transform: none;
}

#foot-copyright {
  padding-left: 1em;
  padding-bottom: 0.5em;
  margin: 0;
}

.post {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  letter-spacing: normal;
  padding-left: .5em;
}

.post h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: normal;
}

.post-content {
  z-index: 9;
  overflow: auto;
  padding: 0;
  padding-bottom: 3em;
  font-size: 16px;
  line-height: 1.4;
}

.post-content img {
  max-width: 100%;
  height: auto;
}

.post-content pre {
  padding: 0.5em;
}

.post a {
  color: var(--link-color);
  text-decoration: none;
}

.post a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

.post h1 {
  font-size: 28px;
}

.post h2 {
  font-size: 25px;
}

.post h3 {
  font-size: 23px;
}

.post h4 {
  font-size: 21px;
}

.post h5 {
  font-size: 19px;
}

.post h6 {
  font-size: 18px;
}

.post-title {
  margin-top: 0;
  margin-bottom: 2em;
}

.post-title h1 {
  font-weight: bold;
  font-size: 39px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  #toggle-btn {
    display: inline-block;
    float: right;
    padding: .5em 1em;
    text-decoration: none;
    color: var(--color);
    font-weight: bold;
  }

  #toggle-content li {
    clear: both;
    height: auto;
    background-color: var(--background-color-toggle-content);
  }

  #toggle-home {
    display: inline-block;
  }
}

@media screen and (min-width: 769px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
